# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
testing.ipynb
.ipynb_checkpoints
**/.ipynb_checkpoints

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment
.env
.venv

# macOS files
.DS_Store

# Other files and folders
ingestion_folder/
example.gdeltnews.webngrams.csv
